<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="header">
    <h1>Conheça o Rota MDF-e</h1>
    <p>Basta colar o XML de seu MDFe na caixa de texto abaixo e apertar o botão "Visualizar". Ah, caso você prefira, você pode
        selecionar um arquivo xml a partir do botão vermelho "Selecionar XML do computador"</p>

    <div class="control-group form-file-fileXml ">
        <div class="controls">
            <input type="file" name="fileXML" id="fileXML" onchange="LerFileInput(this)" accept=".xml" style="display: none" class="span2">
            <a class="btn" style="background-color: #efd314; border: none; color: #4d4408;" href="#" role="button">Selecionar XML do computador</a>

        </div>
        <img class="down" src="img/down.png">
    </div>

</div>

<div class="corpo">
    <h1>Cole aqui o XML de seu MDF-e</h1>
    <div class="small"><small>ou utilize um XML de teste</small></div>

    <center><a class="btn xml_teste" style="background-color: #0088cc; border: none; color: white;" href="#" role="button">XML de teste</a></center>

    <textarea class="form-control" id="exampleTextarea" rows="15"></textarea>

    <center><a class="btn xml_visualizar" style="background-color: #0088cc; border: none; color: white;" href="#" role="button">Visualizar</a></center>

    <div class="fb-comments" data-href="http://www.tecnospeed.com.br/rotamdf-e" data-width="100%" data-numposts="5" data-colorscheme="light"></div>


</div>